[Unit]
Description=Quwue

[Service]
Environment="RUST_LOG=info"
ExecStart=quwue --db-path ${STATE_DIRECTORY}/db.sqlite
StateDirectory=quwue
User=quwue

[Install]
WantedBy=multi-user.target
