[Unit]
Description=Quwue

[Service]
Environment="RUST_LOG=info"
ExecStart=quwue --db-name quwue
StateDirectory=quwue
User=quwue

[Install]
WantedBy=multi-user.target
